@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/* No files to import found in abstractions/**\/* */
label {
  display: block;
  margin-bottom: 4px;
}

audio,
img,
iframe,
video {
  max-width: 100%;
}

img {
  height: auto;
}

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

body {
  color: gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 1.71429em;
}

/**
 * Headings.
 */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 3em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 1em;
  margin-bottom: 0em;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0em;
}

h3 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

h5 {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-top: 1.71429em;
  margin-bottom: 0em;
}

h6 {
  font-size: 0.75em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 0em;
}

/**
 * Links.
 */
a, a:link {
  color: #1f5ca1;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
  color: black;
  /* aaa */
}
a:hover {
  text-decoration: underline;
}
a[href^="tel:"]:hover {
  text-decoration: none;
}
a a:active,
a a:hover {
  outline: 0;
}
a img {
  border: none;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/**
 * $NODE
 */
@media (min-width: 640px) {
  .region-footer {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

@media (min-width: 640px) {
  .header-inner:before, .header-inner:after {
    content: "";
    display: table;
  }
  .header-inner:after {
    clear: both;
  }
}

@media (min-width: 640px) {
  .header--branding-wrapper {
    float: left;
    width: 41.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

@media (min-width: 640px) {
  header [role="navigation"] {
    float: left;
    width: 58.33333%;
    margin-left: 41.66667%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

.header--logo {
  vertical-align: bottom;
}
.zuridev .header--logo {
  max-height: 30px;
}

html {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}
@media (min-width: 640px) {
  .site-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
}
@media (min-width: 960px) {
  .site-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .site-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

@media (min-width: 640px) {
  main[role="main"]:before, main[role="main"]:after {
    content: "";
    display: table;
  }
  main[role="main"]:after {
    clear: both;
  }
}

@media (min-width: 640px) {
  .l-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

@media (min-width: 640px) {
  .l-sidebar {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
