// Basic.
// Sorted by name A-Z.
// =============================================================================
$black:                #000; // Black.
$blue:                 #00f; // Blue.
$cyan:                 #0ff; // Cyan.
$green:                #0f0; // Green.
$grey: lighten($black, 50%); // Grey.
$magenta:              #f0f; // Magenta.
$red:                  #f00; // Red.
$white:                #fff; // White.
$yellow:               #ff0; // Yellow.
// =============================================================================

// Custom.
// =============================================================================

// Branding.
// ---------
// The dominant colors in the project.
// Never call these variables directly in stylings, instead of that create new
// varibles, with more specific name and asign brand variables as value for
// color.
$brand-color-1: #A7A48B; // Gold.
$brand-color-2: #1f5ca1; // Blue.
$brand-color-3: #FAFAF8; // Very light grey.

// System.
$system-error:   #f00;
$system-warning: #ff0;
$system-status:  #0f0;

// Notifications.
// -----------
$notification-error:     $system-error;
$notification-warning: $system-warning;
$notification-status:   $system-status;

// Typography.
// -----------

// Text.
$text-color:               lighten($black, 50%); // Gray.
$quotes-color:                      $text-color; // Black.
$text-color-disabled: lighten($text-color, 25%);
$headings-color:                         $black; // Black.

// Links.
$link-color:                $brand-color-2; // Blue.
$link-color-hover:             $link-color; // Gold.

// Navigation.
$main-menu-link-color:                        $text-color;
$main-menu-link-color-hover:               $brand-color-1;
$main-menu-link-color-active: $main-menu-link-color-hover;
$toggle-button-background-color:           $brand-color-1;

// Forms.
// -----------
$form-error:   $system-error; // Red.

$label-color:    $text-color; // Dark grey.
