// Layout variables.
@import "typography"; // Import this because base line height variable.

// Gap (white space) variables.
$gap-size: $base-line-height;
$triple-gap-size:  $gap-size * 3;
$double-gap-size:  $gap-size * 2;
$half-gap-size:    $gap-size / 2;
$third-gap-size:   $gap-size / 3;
$quarter-gap-size: $gap-size / 4;

$margin-default:        $gap-size;
$margin-half: $margin-default / 2;
$padding-default:       $gap-size;
$padding-half:      $gap-size / 2;

$zen-columns: 12; // Set the total number of columns in the grid.
$zen-gutters: $gap-size;

$legacy-support-for-ie7: false;
$legacy-support-for-ie6: false;

$breakpoint-mobile:    0px;
$breakpoint-tablet:  640px;
$breakpoint-desktop: 960px;
$breakpoint-wide:   1200px;

$site-width-default:           95%;
$site-width-tablet:            90%;
$site-width-desktop:           90%;
$site-width-wide: $breakpoint-wide;
