// Import webfont.
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,latin-ext);

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$body-font-size: 0.875 * $base-font-size;

// Serif.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

// Sans serif.
$verdana:              Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:               Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:            Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:                Arial, Helvetica, sans-serif;
$helvetica-neue-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Webfont.
$opensans: "Open Sans", Arial, Helvetica, sans-serif;

// Monospace.
$courier:              "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Base.
$base-font-family:     $helvetica-neue-light; // The font family set on the html element.
$body-font-family:         $base-font-family;
$font-monospace:                    $courier;

// Headings.
$headings-font-family: $base-font-family;
$headings-font-weight:               300;

$h1-font-size: 3     * $base-font-size;
$h2-font-size: 2     * $base-font-size;
$h3-font-size: 1.5   * $base-font-size;
$h4-font-size: 1     * $base-font-size;
$h5-font-size: 0.875 * $base-font-size;
$h6-font-size: 0.75  * $base-font-size;

// Quotes.
$quotes-font-size:              2      * $base-font-size;

// Primary menu.
$header-menu-font-size:         1      * $base-font-size;

// Node authoring.
$submitted-font-size:           0.75   * $base-font-size;
// Node blog teaser footer.
$blog-teaser-footer-font-size:  0.875  * $base-font-size;

// Footer font size.
$footer-font-size:              1      * $base-font-size;
$address-main-phone-font-size:  2      * $footer-font-size;

// Footer headings.
$footer-h2-font-size:           1      * $footer-font-size;

// Buttons.
$button-font-size-default:      0.875 * $base-font-size;
