// @mixin button($bg: $button-background-color, $bg-hover: $button-background-color-hover) {
@mixin button($color: $button-text-color, $bg: $button-background-color, $bg-hover: $button-background-color-hover) {
  background-color: $bg;
  border: none;
  color: $color;
  @include adjust-font-size-to($button-font-size-default);
  padding: 0.5em 1em;

  &:hover {
    background-color: $bg-hover;
  }
}

@mixin button-primary() {
  @include button($black);
}
