@mixin site-width($width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}

@mixin js() {
  @include parent-selector('.js') {
    @content;
  }
}

@mixin no-js() {
  @include parent-selector('.no-js') {
    @content;
  }
}
