
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  &:focus {
  }

  &.error {
  }
}

label {
  display: block;
  margin-bottom: 4px;
}

select {
}

fieldset {
}

legend {
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
}
