html {
  font: {
    family: $base-font-family;
    size: 100% * ($base-font-size / 16px);
  }
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establishes a vertical rhythm unit using $base-line-height. */
  @include adjust-leading-to(1);
}

body {
  color: $text-color;
  font: {
    family: $body-font-family;
    weight: 300;
  }
  @include adjust-font-size-to($body-font-size);
}

/**
 * Headings.
 */

#{headings(all)} {
  color: $headings-color;
  font: {
    family: $headings-font-family;
    weight: $headings-font-weight;
  }
}

h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  @include adjust-font-size-to( $h1-font-size );
  // letter-spacing: -0.02em;

  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  @include leader(2, $h1-font-size);
  @include trailer(0, $h1-font-size);
}

h2 {
  @include adjust-font-size-to( $h2-font-size );
  @include leader(1, $h2-font-size);
  @include trailer(0, $h2-font-size);
}

h3 {
  @include adjust-font-size-to( $h3-font-size );
  @include leader(1, $h3-font-size);
  @include trailer(0, $h3-font-size);
}

h4 {
  @include adjust-font-size-to( $h4-font-size );
  @include leader(1, $h4-font-size);
  @include trailer(0, $h4-font-size);
}

h5 {
  @include adjust-font-size-to( $h5-font-size );
  @include leader(1, $h5-font-size);
  @include trailer(0, $h5-font-size);
}

h6 {
  @include adjust-font-size-to( $h6-font-size );
  @include leader(1, $h6-font-size);
  @include trailer(0, $h6-font-size);
}

/**
 * Links.
 */

a {
  &,
  &:link {
    color: $link-color;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;

    h1 &,
    h2 &,
    h3 &,
    h4 &,
    h5 &,
    h6 & {
      color: $headings-color; /* aaa */
    }
  }

  &:visited {}

  &:hover {
    text-decoration: underline;
    // border-bottom: solid 1px $link-color-hover;
  }

  // Remove text decoration on tel: links on hover.
  &[href^="tel:"]:hover {
    text-decoration: none;
  }

  &:focus {}

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: none;
  }
}

p {
  margin: {
    bottom: 1em;
    top: 1em;
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
