// Header layout styles.
.header-inner {
  @include breakpoint($breakpoint-tablet) {
    @include zen-grid-container();
  }
}

.header--branding-wrapper {
  @include breakpoint($breakpoint-tablet) {
    @include zen-grid-item(5, 1);
  }
}

header [role="navigation"] {
  @include breakpoint($breakpoint-tablet) {
    @include zen-grid-item(7, 6);
  }
}

.header--logo {
  vertical-align: bottom;

  .zuridev & {
    max-height: 30px;
  }
}