// Page main layout styles.

html {
  margin: 0;
  min-height: 100%;
  padding: 0;
}
body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

* {
  @include box-sizing(border-box);
}

.l-container {
}

%site-width {
  // Set default site width for mobile phones.
  @include site-width($site-width-default);

  // Set site width for tablets.
  @include breakpoint($breakpoint-tablet) {
    @include site-width($site-width-tablet);
  }
  // Set site width for desktop screens.
  @include breakpoint($breakpoint-desktop) {
    @include site-width($site-width-desktop);
  }
  // Set site width for wide screens.
  @include breakpoint($breakpoint-wide) {
    @include site-width($site-width-wide);
  }
}

.site-width {
  @extend %site-width;
}

main[role="main"] {
  @include breakpoint($breakpoint-tablet) {
    @include zen-grid-container();
  }
}

.l-content {
  @include breakpoint($breakpoint-tablet) {
    @include zen-grid-item(8, 1);
  }
}
.l-sidebar {
  @include breakpoint($breakpoint-tablet) {
    @include zen-grid-item(4, 9);
  }
}
